.after-clear:after {
  display: block;
  content: '';
  clear: both;
}
@media screen and (min-width: 1921px) {
  /* .list-products{
		&.catalog{
			&.list{
				.list-product-item-name{
					font-size: 1.3vw;
				}
			}
		}
	}
	
	.list-product-item-img{
		div.title{
			font-size: 2.6vw;
		}
	}
	.list-product-item-articul,
	.list-product-item-info .table-sizes a,
	.list-product-item-info-title,
	.list-product-item-name,
	.list-product-item-desc,
	.dropdown-menu-inner li a,
	.list-product-item-brand{
		font-size: 1.17vw;
	}
	
	.list-product-item-price,
	.title-category,
	.title-category ul a,
	.menu-inner li a{
		font-size: 1.3vw;
	}
	.button{
		a,input{
			font-size: 1.3vw;
		}
	}
	
	.list-product-item-img{
		div.label{
			width: 3.7vw;
			height: 3.7vw;
			top: -1.85vw;
			right: -1.85vw;
			font-size: 0.87vw;
		}
	} */
}
@media screen and (min-width: 1900px) {
  .form-footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1919px) and (min-width: 1600px) {
  .list-products:not(.compare):not(.detail):not(.wishlist):not(.list) > ul > li {
    width: 24.0625%;
    margin: 0 0 1.25% 1.25%;
  }
  .list-products:not(.compare):not(.detail):not(.wishlist):not(.list) > ul > li:nth-child(3n + 1) {
    margin-left: 1.25%;
  }
  .list-products:not(.compare):not(.detail):not(.wishlist):not(.list) > ul > li:nth-child(4n + 1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1920px) {
  .list-products:not(.compare):not(.detail):not(.wishlist):not(.list) > ul > li {
    width: 19%;
    margin: 0 0 1.25% 1.25%;
  }
  .list-products:not(.compare):not(.detail):not(.wishlist):not(.list) > ul > li:nth-child(3n + 1) {
    margin-left: 1.25%;
  }
  .list-products:not(.compare):not(.detail):not(.wishlist):not(.list) > ul > li:nth-child(5n + 1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 2200px) {
  .list-products.catalog .list-product-item-controls-icons li {
    max-width: 65px;
    max-height: 65px;
  }
}
@media screen and (min-width: 2400px) {
  .list-products.catalog .list-product-item-controls-icons li {
    max-width: 70px;
    max-height: 70px;
  }
}
@media screen and (max-width: 1200px) {
  .sort-list-products {
    width: 170px;
    margin-left: 10px;
  }
  .sort-list-products .clevered.alice .jClever-element-select-center,
  .sort-list-products .clevered.alice .jClever-element-select-list span {
    font-size: 12px;
  }
  .list-product-item-controls-list-view .list-product-item-controls-icons li {
    width: 40px;
    height: 40px;
  }
  .filter-controls > ul > li {
    margin-left: 10px;
  }
  .filter-controls > ul > li > a {
    font-size: 14px;
  }
  .list-products.catalog.list .list-product-item-name,
  .list-product-item-controls-list-view-title.button a {
    font-size: 16px;
  }
  .list-products.catalog.list .list-product-item-brand,
  .list-products.catalog.list .list-product-item-price,
  .list-product-item-articul,
  .list-product-item-info .table-sizes a {
    font-size: 14px;
  }
  .list-product-item-info .color {
    width: 20px;
    height: 20px;
    padding-left: 20px;
  }
  .list-product-item-info .color:before {
    width: 100%;
    height: 100%;
    margin-top: -10px;
  }
  .list-product-item-info .size {
    padding: 3px 6px;
  }
  .menu-inner li > a {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .footer a,
  .footer .info-text {
    font-size: 12px;
  }
  .footer-title {
    font-size: 16px;
  }
  .info-copy {
    margin-right: 25px;
  }
  .menu-one,
  .menu-two {
    margin-right: 15px;
  }
  .social-wrap .social li {
    margin-left: 20px;
  }
  .menu-inner li.parent > a,
  .menu-inner li.parent > ul {
    padding-left: 20px;
  }
  .list-info {
    margin-top: 5px;
  }
  .list-info li {
    margin-left: 5px;
  }
  .list-info .size {
    font-size: 13px;
  }
  .menu-inner li {
    margin-top: 15px;
  }
  .dropdown-menu-inner {
    padding-top: 7px;
  }
  .dropdown-menu-inner li {
    margin-top: 7px;
  }
}
@media screen and (max-width: 1000px) {
  .container .no-desktop {
    display: block;
  }
  .container .no-mobile {
    display: none;
  }
  .container {
    min-width: 320px;
  }
  .list-products > ul > li,
  .list-products.catalog > ul > li {
    width: 49%;
    margin: 0 0 2% 2%;
  }
  .list-products > ul > li:nth-child(3n + 1),
  .list-products.catalog > ul > li:nth-child(3n + 1) {
    margin-left: 2%;
  }
  .list-products > ul > li:nth-child(2n + 1),
  .list-products.catalog > ul > li:nth-child(2n + 1) {
    margin-left: 0;
  }
  .main {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .title-category {
    padding: 50px 0 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .title-category:first-child {
    padding-top: 50px;
  }
  .title-category span {
    float: none;
  }
  .title-category ul {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .banner {
    display: none;
  }
  .footer {
    font-size: 0;
    text-align: center;
  }
  .footer .logo {
    position: relative;
    float: none;
    margin: 0 auto;
  }
  .footer ul li {
    margin-top: 15px;
  }
  .footer .info-copy.no-desktop {
    display: inline-block;
    margin: 20px 0;
  }
  .social-wrap,
  .form-footer {
    position: relative;
    text-align: center;
    display: block;
  }
  .menu-one,
  .menu-two {
    width: 50%;
    margin: 0;
    text-align: left;
  }
  .form-footer {
    margin: 30px 0 40px;
    text-align: left;
  }
  .form-footer input {
    font-size: 40px;
    height: 80px;
  }
  .footer a,
  .footer .info-text {
    font-size: 24px;
  }
  .footer-title {
    font-size: 34px;
  }
  .user-profile-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .user-profile-icon a {
    font-size: 0;
  }
  .user-profile-icon a:after {
    max-width: 60px;
    max-height: 60px;
    min-width: 20px;
    min-height: 20px;
    width: 10vw;
    height: 10vw;
    background-size: 100% 100%;
    margin: 0;
  }
  .logo {
    width: 40%;
    max-width: 250px;
  }
  .header {
    margin-left: -50%;
  }
  .main-slider {
    position: relative;
  }
  .select-city-header {
    position: absolute;
    top: 50%;
    /* transform: translate3d(0,-50%,0); */
    margin-top: -25px;
    width: 100%;
    text-align: center;
    z-index: 100;
  }
  .clevered.alice .jClever-element-select-wrapper {
    height: auto;
  }
  .select-city-header-form.clevered.alice .jClever-element-select-right {
    width: auto;
    height: auto;
    background: no-repeat;
    display: block;
    text-align: center;
    margin-top: 5px;
  }
  .select-city-header-form.clevered.alice .jClever-element-select-right:before {
    content: '';
    display: inline-block;
    border: 15px solid transparent;
    border-top-color: #fff;
    box-sizing: border-box;
  }
  .header-main {
    margin-top: 40%;
  }
  .menu {
    display: none;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-sizing: border-box;
    padding-top: 100px;
  }
  .menu-inside {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
  }
  .menu-inside > ul {
    overflow: visible;
    background: #ffffff;
    position: relative;
    z-index: 100;
  }
  .menu-inside > ul > li {
    display: block;
    margin: 0;
    padding-bottom: 0;
    position: static;
  }
  .menu-inside > ul > li.search-button {
    display: none;
  }
  .menu-inside > ul > li > a {
    color: #000000;
    font-size: 42px;
    display: block;
    padding: 24px 40px;
    letter-spacing: 2px;
    position: relative;
  }
  .menu-inside > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: -5px;
  }
  body.menu-opened {
    height: 100%;
    overflow: hidden;
  }
  body.menu-opened .menu {
    display: block;
  }
  body.menu-opened .main-slider {
    z-index: -1;
  }
  .dropdown-menu {
    margin: 0;
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    padding: 0;
  }
  .dropdown-menu .dropdown-menu-close {
    text-align: left;
    position: absolute;
    bottom: 100%;
    width: 100%;
    z-index: 100;
  }
  .dropdown-menu .dropdown-menu-close:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 5px;
  }
  .dropdown-menu.opened {
    z-index: 100;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  .dropdown-menu-inside {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }
  .dropdown-menu-close {
    display: block;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 32px;
    padding: 24px 40px;
    background: #f5f5f5;
    text-align: right;
    color: #000;
    position: relative;
    z-index: 1;
  }
  .dropdown-menu-close i {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    vertical-align: middle;
  }
  .dropdown-menu-close i:before,
  .dropdown-menu-close i:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #b5b5b5;
  }
  .dropdown-menu-close i:before {
    webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .dropdown-menu-close i:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .dropdown-menu-title {
    color: #000000;
    font-size: 42px;
    line-height: 1.3;
    display: block;
    padding: 24px 40px;
    margin: 0;
    letter-spacing: 2px;
    position: relative;
  }
  .dropdown-menu-title:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: -5px;
  }
  .dropdown-menu-cell {
    display: block;
    margin: 0;
    position: relative;
  }
  .dropdown-menu-cell .dropdown-menu-close {
    z-index: 1000;
  }
  .dropdown-menu-cell ul {
    display: none;
    opacity: 0;
    padding-left: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .dropdown-menu-cell ul.opened {
    opacity: 1;
    display: block;
  }
  .dropdown-menu-cell ul li {
    margin-top: 25px;
  }
  .dropdown-menu-cell ul li:first-child {
    margin-top: 25px;
  }
  .dropdown-menu-cell-last .dropdown-menu-title {
    display: none !important;
  }
  .dropdown-menu-cell-last ul {
    margin-top: 25px;
  }
  .clevered.alice .jClever-element-select-list-wrapper {
    left: 0;
  }
  .burger {
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
  }
  .burger span {
    display: block;
    margin-top: 12px;
    font-size: 0;
    height: auto;
    line-height: 1;
  }
  .burger span:first-child {
    margin-top: 0;
  }
  .burger span:before,
  .burger span:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    background: #ffffff;
  }
  .burger span:before {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
  }
  .burger span:after {
    width: 55px;
    height: 4px;
    margin-left: 5px;
  }
  .bx-wrapper img {
    width: 100%;
  }
  .main-slider-inner {
    position: relative;
  }
  .inner .header-main {
    margin-top: 25%;
  }
}
@media screen and (max-width: 639px) {
  .footer a,
  .footer .info-text {
    font-size: 3.75vw;
  }
  .footer-title {
    font-size: 5.3125vw;
  }
  .form-footer input {
    font-size: 6.25vw;
    height: 12.5vw;
  }
  .title-category {
    font-size: 5vw;
  }
  .title-category ul a {
    font-size: 4.5vw;
  }
  .list-product-item-img div.title {
    font-size: 5.625vw;
  }
  .select-city-header-form.clevered.alice .jClever-element-select-center {
    font-size: 4.6875vw;
  }
  .bx-slider-custom .bx-wrapper .bx-controls-direction a {
    width: 50px;
    height: 50px;
  }
  .select-city-header-form.clevered.alice .jClever-element-select-center {
    width: 100%;
    padding: 0;
  }
  .select-city-header-form.clevered.alice .jClever-element-select-right:before {
    border-width: 2vw;
  }
  .burger span {
    margin-top: 1.875vw;
  }
  .burger span:before {
    width: 1.5625vw;
    height: 1.5625vw;
  }
  .burger span:after {
    width: 8.5vw;
    height: 2px;
    margin-left: 5px;
  }
  .menu {
    padding-top: 16vw;
  }
  .menu-inside > ul > li > a {
    font-size: 6.5625vw;
    padding: 4vw 6vw;
  }
  .dropdown-menu-title {
    font-size: 6.5625vw;
    padding: 4vw 6vw;
  }
  .dropdown-menu-close {
    font-size: 5vw;
    padding: 4vw 6vw;
  }
  .dropdown-menu-close i {
    width: 20px;
    height: 20px;
  }
  .dropdown-menu-cell ul {
    padding-left: 6vw;
  }
}
@media screen and (max-width: 450px) {
  .menu {
    padding-top: 20vw;
  }
  .list-products > ul > li,
  .list-products.catalog > ul > li {
    width: 100%;
    margin: 0 0 5%;
  }
  .list-products > ul > li:nth-child(3n + 1),
  .list-products.catalog > ul > li:nth-child(3n + 1) {
    margin-left: 0;
  }
  .list-products > ul > li:nth-child(2n + 1),
  .list-products.catalog > ul > li:nth-child(2n + 1) {
    margin-left: 0;
  }
}
