@media screen and (min-width: 1600px) {
  #map {
    height: 600px;
  }
}
@media screen and (max-width: 1280px) {
  .footer .menu > li {
    font-size: 16px;
    font-size: 1vw;
  }
  .info-footer {
    margin-top: 25px;
  }
  .menu-header li {
    font-size: 1.5vw;
  }
  .filter-wrap-responsive .filter-select {
    min-width: 0;
  }
  .about-text img {
    width: 350px;
  }
  .about-text div {
    padding-right: 380px;
  }
  .about-text p,
  .achievements-about div,
  .list-item-category-important-info {
    font-size: 1.35vw;
  }
  .list-item-category-text,
  .list-item-category-date,
  .list-item-category-price {
    font-size: 1.31vw;
  }
  .filter-wrap-education .filter-cell-wrap-submit {
    display: block;
    margin: 10px 0 auto;
  }
  .conditions-school-page-title {
    margin-bottom: 10px;
  }
  .conditions-school-page-content {
    height: 30px;
  }
  .conditions-school-page-content span,
  .conditions-school-page-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .services-index-item {
    display: block;
    width: auto;
    max-height: 50vw;
  }
  .services-index-item-img img {
    height: auto;
    top: 50%;
    transform: translate3D(0, -50%, 0);
  }
  .services-index-item-content {
    height: 10vw;
  }
  .services-index-item:hover .services-index-item-content {
    height: 10vw;
  }
  .services-index-item-title {
    line-height: 10vw;
  }
  .about-index-page {
    width: auto;
    padding: 0 15px;
  }
  .advantages-index-page-item {
    display: block;
    width: auto;
  }
  .about-index-page-text {
    font-size: 2vw;
  }
  .about-index-page-button .button-main {
    font-size: 1.5vw;
  }
  .advantages-index-page-item-title {
    font-size: 5vw;
  }
  .advantages-index-page-item-text {
    font-size: 4vw;
  }
  .menu-footer {
    white-space: normal;
  }
  .menu-footer li {
    display: block;
    padding: 0;
    font-size: 3vw;
  }
  .footer .logo {
    display: none;
  }
  .footer .menu > li {
    font-size: 24px;
    font-size: 3.8vw;
    border: none;
    margin-top: 3.125%;
  }
  .footer .menu > li:first-child {
    margin-top: 0;
  }
  .menu-footer {
    float: left;
    width: 27%;
    padding: 0 3.125% 0 7%;
  }
  .address-footer {
    float: right;
    margin-top: 0;
    width: 55%;
  }
  .address-footer br {
    display: none;
  }
  .address-footer div {
    width: auto;
    display: block;
    text-align: left;
    font-size: 20px;
    font-size: 3.1vw;
    margin-top: 9%;
  }
  .address-footer div:first-child {
    margin-top: 0;
  }
  .footer-part-center {
    width: 100%;
    padding: 0;
    border-right: 0;
    position: relative;
  }
  .footer-part-center:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 40%;
    width: 1px;
    height: 100%;
    background: #efe2d9;
  }
  .footer-part-right {
    display: none;
  }
  .footer-part-right-mobile {
    display: block;
    position: relative;
    margin-top: 9%;
  }
  .footer-part-right-mobile .contacts-footer {
    position: relative;
  }
  .footer-part-right-mobile .contacts-footer:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 40%;
    width: 1px;
    height: 100%;
    background: #efe2d9;
  }
  .footer-part-right-mobile .logo {
    display: block;
    float: left;
    width: 25%;
    margin: 0 5.125% 0 7%;
  }
  .contacts-footer-wrap-mobile {
    float: right;
  }
  .contacts-footer-wrap-mobile .header-phones {
    float: none;
  }
  .contacts-footer-wrap-mobile .header-phones span {
    font-size: 22px;
    font-size: 3.45vw;
  }
  .contacts-footer-wrap-mobile .header-phones:before {
    margin-right: 0;
  }
  .contacts-footer-wrap-mobile .footer-email {
    float: none;
    margin: 20px 0;
  }
  .contacts-footer-wrap-mobile .footer-email a {
    font-size: 22px;
    font-size: 3.45vw;
  }
  .contacts-footer-wrap-mobile .footer-email a:before {
    margin-right: 10px;
  }
  .info-footer {
    text-align: center;
  }
  .info-footer-soc {
    float: none;
    display: inline-block;
  }
  .info-footer-soc li {
    font-size: 24px;
    font-size: 3.7vw;
    margin-left: 0;
  }
  .info-footer-soc li:first-child {
    display: block;
    margin-bottom: 10px;
  }
  .info-footer-soc li:last-child {
    margin-left: 30px;
  }
  .line-top {
    display: none;
  }
  .line-menu-header {
    padding-top: 0;
    background: #fff;
  }
  header {
    position: static;
  }
  .menu-header {
    position: absolute;
    z-index: 99;
    width: 80%;
    left: -100%;
    margin: 0;
    background: #f8f8f8;
    margin: -1.5% 0 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .menu-header > li {
    font-size: 28px;
    font-size: 4.4vw;
    display: block;
    border-left: none;
    padding: 0;
    font-weight: 600;
    border-top: 1px solid #aaaaaa;
  }
  .menu-header > li:first-child {
    border-top: 0;
  }
  .menu-header > li a {
    background: #f8f8f8;
    padding: 10px 3.125%;
  }
  .menu-header > li a:hover:after {
    display: none;
  }
  .menu-header ul {
    position: static;
    display: block;
    margin-top: 0;
    width: 100%;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    display: none;
    border: none;
    border-top: 1px solid #d33134;
    background: #ffffff;
    box-sizing: border-box;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
  .menu-header ul li a {
    background: none;
    padding-left: 6.25%;
    font-size: 24px;
    font-size: 3.75vw;
  }
  header .logo {
    position: relative;
    z-index: 100;
    width: 25%;
  }
  header .logo img {
    position: relative;
    top: 2.5vw;
  }
  .content {
    margin-top: 0;
  }
  .burger {
    display: block;
    width: 10%;
    height: 6.71875vw;
    display: inline-block;
    vertical-align: middle;
    margin: 2% 10% 0 0;
    position: relative;
  }
  .burger span,
  .burger span:before,
  .burger span:after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    background: #d23034;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .burger span {
    height: 1.7vw;
    top: 50%;
    transform: translateY(-50%);
  }
  .burger span:before,
  .burger span:after {
    content: '';
    height: 100%;
  }
  .burger span:before {
    bottom: 100%;
    transform: translateY(-50%);
  }
  .burger span:after {
    top: 100%;
    transform: translateY(50%);
  }
  .menu-opened .container {
    overflow: hidden;
  }
  .menu-opened .footer {
    position: relative;
  }
  .menu-opened .content:before,
  .menu-opened .footer:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #282525;
    opacity: 0.3;
    z-index: 110;
  }
  .menu-opened .menu-header {
    left: 0;
  }
  .menu-opened .burger span {
    background: transparent;
  }
  .menu-opened .burger span:before {
    height: 1vw;
    bottom: 0;
    -ms-transform: rotate(45deg) translateY(-50%);
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
  }
  .menu-opened .burger span:after {
    height: 1vw;
    top: 0;
    -ms-transform: rotate(-45deg) translateY(50%);
    -webkit-transform: rotate(-45deg) translateY(50%);
    transform: rotate(-45deg) translateY(50%);
  }
  .contacts-header-mobile {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }
  .contacts-header-mobile li {
    color: #5d4533;
    font-size: 24px;
    font-size: 3.75vw;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3.90625vw;
  }
  .contacts-header-mobile b {
    font-weight: normal;
  }
  .contacts-header-mobile .email {
    display: block;
    width: 8.75vw;
    height: 7.03125vw;
    background: url('../images/icons/mail-header-mob.png') no-repeat;
    background-size: 100% 100%;
  }
  .svg .contacts-header-mobile .email {
    background: url('../images/icons/mail-header-mob.svg') no-repeat;
  }
  .flag-mini {
    width: 15px;
  }
  .list-item-category-title {
    white-space: nowrap;
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .list-item-category-title span {
    font-size: 1.7vw;
    line-height: 1.3em;
  }
  .text-block {
    width: auto;
    padding: 5% 15px 3.75%;
  }
  .list-banners-countrys span {
    font-size: 2vw;
  }
  .list-banners-countrys li {
    margin-left: 0;
  }
  .accordion-hide {
    font-size: 2vw;
  }
  .accordion-control-wrap a span {
    font-size: 2.5vw;
  }
  .accordion-control-wrap a:before {
    margin-left: -5vw;
  }
  .filter-wrap-responsive .filter-select {
    min-width: 0;
  }
  .filter-wrap-responsive .filter-cell-wrap-submit {
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
  .price-list-title {
    font-size: 2.5vw;
  }
  .price-list-table,
  .contacts-info-wrap li div {
    font-size: 1.5vw;
  }
  .achievements-about img,
  .achievements-about div {
    display: block;
    margin: 0 auto;
  }
  .achievements-about div {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5vw;
  }
  .education-map,
  .education-map-hint {
    display: none;
  }
  .education-map-nav {
    width: auto;
    float: none;
    margin-top: 0;
    padding: 20px 0;
  }
  .education-map-nav ul {
    column-count: 3;
  }
  .education-map-nav a {
    height: 7vw;
    line-height: 7vw;
  }
  .education-map-nav a:after {
    border-width: 2.5vw;
  }
  .education-map-nav a img {
    width: 5vw;
  }
  .education-map-nav a span {
    font-size: 3vw;
  }
  .subtitle-category {
    font-size: 20px;
  }
  .filter-wrap {
    position: relative;
    background: #ffffff;
  }
  .filter-cell {
    display: block;
    padding: 0 15px;
    margin: 15px 0 0;
  }
  .filter-cell:first-child {
    margin-top: 0;
  }
  .filter-cell-wrap-submit {
    background: #00a1ff;
    padding: 15px 0;
  }
  .filter-cell-wrap-submit .button-yellow {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  }
  .clevered.alice .filter-select {
    width: 100%;
  }
  .clevered.alice .filter-select .jClever-element-select-center {
    background: #f8f8f8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  .filter-label {
    color: #3b3b3b;
    padding-left: 10px;
  }
  .filter-wrap {
    position: relative;
  }
  .filter-cell-wrap-submit {
    margin: 15px 0 0;
  }
  .advantages-education-country {
    width: 98%;
    margin-top: 10px;
  }
  .advantages-education-country-item-icon {
    height: 6vw;
  }
  .advantages-education-country-item-text {
    font-size: 1.3vw;
  }
  .program-clinic-info-title-scholl-page {
    font-size: 2.5vw;
  }
  .conditions-school-page ul {
    margin-top: -10px;
  }
  .conditions-school-page li {
    flex-basis: 33%;
    margin-top: 10px;
  }
  .conditions-school-page-title {
    margin-bottom: 10px;
  }
  .conditions-school-page-content {
    height: 30px;
  }
  .conditions-school-page-content span,
  .conditions-school-page-title {
    font-size: 12px;
  }
  .popup-big {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .services-index-item-title {
    font-size: 24px;
    font-size: 3vw;
  }
  .about-index-page-text {
    font-size: 3vw;
  }
  .about-index-page-button .button-main {
    font-size: 2.5vw;
  }
  .list-category-tree {
    text-align: center;
  }
  .list-category-tree > li {
    width: 45%;
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: left;
  }
  .list-category-tree > li:nth-child(3n+1) {
    margin-left: 5%;
  }
  .list-category-tree > li:nth-child(2n + 1) {
    margin-left: 0;
  }
  .table-info-cell {
    font-size: 14px;
  }
  .text-block-text {
    font-size: 3vw;
  }
  .title-category {
    padding: 5% 0;
  }
  .list-item-category-image-caption-title {
    font-size: 2.15vw;
  }
  .list-item-category-image .services-index-item-ico {
    width: 10vw;
    height: 10vw;
  }
  .loading-button {
    font-size: 2vw;
  }
  .loading-button a {
    padding-right: 7%;
  }
  .list-banners-image-two-image .desk-image {
    display: none;
  }
  .list-banners-image-two-image .mob-image {
    display: block;
  }
  .sights-wrap {
    font-size: 2vw;
  }
  .list-banners-title {
    font-size: 4vw;
  }
  .list-banners-desc {
    font-size: 3vw;
  }
  .slider-item-image .desk-image {
    display: none;
  }
  .slider-item-image .mob-image {
    display: block;
  }
  .slider-item .list-banners-desc {
    font-size: 3vw;
  }
  .slider-item .list-banners-title {
    font-size: 5vw;
  }
  .services-hotel li {
    font-size: 3.5vw;
  }
  .main {
    padding: 15px;
  }
  .about-hotel-part {
    width: auto;
    padding: 0;
    margin-top: 20px;
  }
  .about-hotel-part:first-child {
    margin-top: 0;
  }
  .about-hotel-title {
    font-size: 3vw;
  }
  .about-hotel-text {
    font-size: 2vw;
  }
  .about-hotel-services li {
    font-size: 2vw;
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
  .about-hotel-services li span {
    margin-top: 10px;
  }
  .info-hotel-main,
  .info-hotel-slider {
    width: auto;
    display: block;
    float: none;
  }
  .info-hotel-big-slider {
    width: 100%;
    float: none;
    margin: 0;
  }
  .info-hotel-small-slider {
    position: relative;
    height: auto;
    display: block;
    margin-top: 2%;
  }
  .info-hotel-small-slider li {
    display: inline-block;
    vertical-align: top;
    width: 23.5%;
    margin: 0 0 0 2%;
  }
  .info-hotel-small-slider li img {
    width: 100%;
  }
  .info-hotel-small-slider li:first-child {
    margin-left: 0;
  }
  .info-hotel-title,
  .info-hotel-list {
    font-size: 2.5vw;
  }
  .title-popup {
    font-size: 3vw;
    padding: 0 10px;
  }
  .fancybox-custom .fancybox-close {
    right: 5px;
    top: 5px;
  }
  .list-banners-countrys li {
    margin-left: 0;
  }
  .tab-content > li {
    font-size: 2vw;
  }
  .tab-nav li {
    width: 45%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .tab-nav li:first-child,
  .tab-nav li:last-child {
    margin-left: 0;
  }
  .tab-nav li a {
    padding: 2vw 0;
    font-size: 18px;
  }
  .tab-nav.tab-nav-school-page li {
    margin-left: 10px;
  }
  .tab-nav.tab-nav-school-page li:first-child,
  .tab-nav.tab-nav-school-page li:nth-child(3n) {
    margin-left: 0;
  }
  .price-list-table {
    font-size: 1.8vw;
  }
  .form-contacts {
    width: auto;
    padding: 0 15px 30px;
  }
  .form-cell {
    margin-top: 15px;
    width: auto;
    margin-left: 0;
    display: block;
  }
  .form-cell:first-child {
    margin-top: 0;
  }
  .contacts-info-wrap {
    width: 96%;
    left: 50%;
    margin-left: -48%;
    top: 5%;
    transform: translateY(0);
  }
  .contacts-info-wrap li div {
    font-size: 2vw;
  }
  .contacts-info-wrap + #map {
    height: 650px;
  }
  .about-text div {
    position: static;
    transform: translateY(0);
    padding: 20px 0 0;
    font-size: 2vw;
  }
  .about-text img {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }
  .about-text p,
  .achievements-about div {
    font-size: 2vw;
  }
  .list-item-category-text,
  .list-item-category-date,
  .list-item-category-important-info,
  .list-item-category-price {
    font-size: 1.6vw;
  }
  .advantages-education-country li {
    display: block;
    width: auto;
    margin: 10px 0 0 0;
    padding: 15px 0;
  }
  .advantages-education-country li > img {
    display: none;
  }
  .advantages-education-country-item-body {
    position: static;
    font-size: 0;
  }
  .advantages-education-country-item-icon {
    height: auto;
    width: 20%;
  }
  .advantages-education-country-item-icon img {
    width: 100%;
    margin: 0 auto;
  }
  .advantages-education-country {
    margin-top: 30px;
  }
  .advantages-education-country li.primary .advantages-education-country-item-icon img {
    width: 100%;
    margin: 0 auto;
  }
  .advantages-education-country li.higher .advantages-education-country-item-icon img {
    width: 100%;
    margin: 0 auto;
  }
  .advantages-education-country li.languages .advantages-education-country-item-icon img {
    width: 100%;
    margin: 0 auto;
  }
  .advantages-education-country li.sport .advantages-education-country-item-icon img {
    width: 100%;
    margin: 0 auto;
  }
  .advantages-education-country-item-text {
    width: 50%;
    font-size: 2.5vw;
  }
  .advantages-education-country-item-icon,
  .advantages-education-country-item-text {
    display: inline-block;
    vertical-align: middle;
  }
  .popup-big {
    width: 100%;
  }
  .form-main-cell-big {
    display: block;
    width: auto;
    margin-top: 15px;
    margin-left: 0;
  }
  .form-main-cell-big:first-child {
    margin-top: 0;
  }
  .form-main-cell-wrap .form-main-cell-big {
    width: 48%;
    margin-left: 4%;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
  }
  .form-main-cell-wrap .form-main-cell-big:first-child {
    margin-left: 0;
  }
  .list-banners .filter-wrap,
  .list-banners-from-filter .filter-wrap {
    position: relative;
  }
  .about-hotel-text,
  .about-hotel-services li {
    font-size: 3vw;
  }
  .about-hotel-title {
    font-size: 4vw;
  }
  .info-hotel-title,
  .info-hotel-list {
    font-size: 3.5vw;
  }
  .filter-cell-star-wrap {
    width: 100%;
    border-radius: 0;
  }
  .info-hotel-small-slider {
    position: relative;
    display: block;
    height: auto;
    width: auto;
    top: 0;
  }
  .info-hotel-small-slider:after {
    display: block;
    content: '';
    clear: both;
  }
  .info-hotel-small-slider .js-info-hotel-small-slider a {
    display: block;
    position: relative;
    margin: 0 17px 0 0;
    float: left;
  }
  .info-hotel-small-slider .bx-wrapper,
  .info-hotel-small-slider .bx-viewport {
    height: auto !important;
  }
  .info-hotel-small-slider .bx-wrapper .bx-controls-direction a {
    top: 50% !important;
    bottom: auto !important;
    transform: translateY(-50%);
  }
  .info-hotel-small-slider .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -20px;
    right: auto;
  }
  .info-hotel-small-slider .bx-wrapper .bx-controls-direction a.bx-next {
    right: -20px;
    left: auto;
  }
}
@media screen and (max-width: 640px) {
  .list-banners li {
    width: 100%;
  }
  .list-banners-title {
    font-size: 5vw;
  }
  .list-category {
    width: auto;
    padding: 0 15px;
  }
  .list-category > li {
    width: 100%;
    margin-left: 0 !important;
  }
  .list-item-category-title span {
    font-size: 3vw;
  }
  .flag-mini {
    width: 21px;
  }
  .list-item-category-image-caption-title {
    font-size: 3vw;
  }
  .list-banners-countrys span {
    font-size: 3vw;
  }
  .list-visa {
    padding: 0 15px;
  }
  .list-visa li {
    width: 50%;
    padding: 0;
    vertical-align: top;
    text-align: center;
  }
  .list-visa li .number {
    position: static;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(0);
    min-width: 35px;
    min-height: 35px;
    font-size: 3vw;
    margin-right: 5px;
  }
  .list-visa li > span {
    display: block;
    margin-top: 15px;
    font-size: 3vw;
    text-align: left;
  }
  .list-visa li > span br {
    display: none;
  }
  .list-visa li img {
    width: auto !important;
  }
  .accordion-control-wrap a span {
    font-size: 3vw;
  }
  .accordion-hide,
  .tab-content > li {
    font-size: 2.5vw;
  }
  .program-clinic-item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .price-list-table {
    display: block;
    border: none;
  }
  .price-list-table .cell,
  .price-list-table .row {
    display: block;
    width: auto;
  }
  .price-list-table .cell {
    margin-top: 15px;
    border: 1px solid #d7d7d7 !important;
    font-size: 2vw;
  }
  .price-list-table .row {
    border: none;
    border-top: 1px solid #d7d7d7;
  }
  .price-list-table .row:first-child {
    border-top: 0;
  }
  .gallery-item {
    width: 32%;
    margin-left: 2%;
  }
  .gallery-item:nth-child(6n + 1) {
    margin-left: 2%;
  }
  .gallery-item:nth-child(3n + 1) {
    margin-left: 0;
  }
  .contacts-info-wrap li div {
    font-size: 3vw;
  }
  .achievements-about div br {
    display: none;
  }
  .about-text p,
  .achievements-about div {
    font-size: 3vw;
  }
  .list-item-category-text,
  .list-item-category-date,
  .list-item-category-important-info,
  .list-item-category-price {
    font-size: 2.5vw;
  }
  .education-map-nav {
    width: auto;
    float: none;
    margin-top: 0;
    padding: 20px 0;
  }
  .education-map-nav ul {
    column-count: 2;
  }
  .education-map-nav a img {
    width: 6vw;
  }
  .education-map-nav a span {
    font-size: 5vw;
  }
  .advantages-education-country-item-text {
    width: 70%;
    font-size: 4vw;
  }
  .program-clinic-info-title-scholl-page {
    font-size: 3vw;
  }
  .contacts-info-wrap li {
    margin-top: 3vw;
  }
  .contacts-info-wrap li.phone {
    margin-top: 2vw;
  }
}
@media screen and (max-width: 480px) {
  .conditions-school-page li {
    flex-basis: 50%;
  }
  .services-index-item-title {
    font-size: 20px;
    font-size: 5vw;
  }
  .about-index-page-text {
    font-size: 4vw;
  }
  .about-index-page-button .button-main {
    font-size: 3.5vw;
  }
  .text-block-text {
    font-size: 4vw;
  }
  .list-item-category-image-caption-title {
    font-size: 4vw;
  }
  .title-popup {
    font-size: 4.5vw;
  }
  .list-banners-countrys .bx-wrapper .bx-controls-direction a.bx-next {
    right: 0;
  }
  .list-banners-countrys .bx-wrapper .bx-controls-direction a.bx-prev {
    left: 0;
  }
  .list-visa li .number {
    font-size: 4.5vw;
  }
  .accordion-control-wrap a span,
  .price-list-title {
    font-size: 3.5vw;
  }
  .accordion-hide,
  .info-clinica li span,
  .tab-content > li {
    font-size: 3vw;
  }
  .price-list-table .cell {
    font-size: 3vw;
  }
  .gallery-item {
    width: 48%;
    margin-left: 2%;
  }
  .gallery-item:nth-child(3n + 1) {
    margin-left: 2%;
  }
  .gallery-item:nth-child(2n + 1) {
    margin-left: 0;
  }
  .list-item-category-title span {
    font-size: 4vw;
  }
  .list-item-category-text,
  .program-clinic-info-title-scholl-page {
    font-size: 3.5vw;
  }
  .about-hotel-text,
  .about-hotel-services li {
    font-size: 4vw;
  }
  .about-hotel-title {
    font-size: 5vw;
  }
  .info-hotel-title,
  .info-hotel-list {
    font-size: 4.5vw;
  }
  .title-category {
    font-size: 24px;
  }
  .list-banners-countrys img {
    max-width: 70px;
  }
  .accordion-control-wrap {
    padding-left: 8vw;
  }
  .accordion-control-wrap a:before {
    margin-left: -6vw;
  }
}
@media screen and (max-width: 400px) {
  .contacts-info-wrap li {
    margin-top: 5vw;
  }
  .contacts-info-wrap li.phone {
    margin-top: 3vw;
  }
  .contacts-info-wrap li div {
    font-size: 4vw;
  }
  .advantages-education-country li {
    padding: 7px 0;
  }
  .table-info-cell {
    width: 75%;
  }
  .table-info-cell:first-child {
    width: 25%;
  }
  .list-banners-countrys img {
    max-width: 60px;
  }
  .accordion-control-wrap {
    padding-left: 9vw;
  }
  .accordion-control-wrap a:before {
    margin-left: -7vw;
  }
}
