.clear {
  clear: both;
}
.center {
  text-align: center;
}
.hidden {
  overflow: hidden;
}
.hidden-x {
  overflow-x: hidden;
}
.hidden-y {
  overflow-y: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.uppercase {
  text-transform: uppercase;
}
.noneDecoration {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
.relative {
  position: relative;
}
.marginAuto {
  margin: 0 auto;
}
.block {
  display: block;
}
.none {
  display: none;
}
.inline-block {
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.middle {
  vertical-align: middle;
}
.pointer {
  cursor: pointer;
}
.border-box {
  box-sizing: border-box;
}
body {
  font-family: 'pt_sansregular', sans-serif;
}
.container {
  /*max-width: 1280px;
  .marginAuto;*/
}
.header {
  box-sizing: border-box;
  padding-top: 40px;
  position: relative;
  padding-bottom: 35px;
  border-bottom: 1px solid #e4e3dd;
}
.headerIndex {
  height: 437px;
  background: url("../images/header.jpg") center 0;
  overflow: hidden;
  padding-bottom: 0;
  border-bottom: none;
}
.main {
  width: 930px;
  margin: 0 auto;
}
.main:after {
  display: block;
  content: '';
  clear: both;
}
.mainIndex {
  width: 940px;
  margin: 0 auto;
}
.mainIndex:after {
  display: block;
  content: '';
  clear: both;
}
.logo {
  width: 130px;
  height: 54px;
  background: url("../images/logo.png") no-repeat;
  display: block;
  float: left;
}
.lang {
  float: left;
  margin: 0 33px;
  font-family: Verdana, sans-serif;
}
.lang a {
  display: block;
  text-decoration: none;
  padding: 3px 5px 5px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  margin-top: 5px;
  color: #999999;
  font-size: 11px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.lang a:first-child {
  margin-top: 0;
}
.lang a:hover {
  color: #231f20;
  background: #eeede8;
}
.lang .active {
  color: #231f20;
  background: #eeede8;
}
.headerIndex .lang a {
  color: #e0e0e0;
}
.headerIndex .lang a:hover {
  color: #ffffff;
  background: url("../images/back_1.png");
}
.headerIndex .lang .active {
  color: #ffffff;
  background: url("../images/back_1.png");
}
.mainMenu {
  font-size: 0;
  display: block;
  float: left;
}
.mainMenu li {
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.mainMenu li:first-child a {
  padding-left: 25px;
  border-radius: 13px 0 0 13px;
  -webkit-border-radius: 13px 0 0 13px;
  -moz-border-radius: 13px 0 0 13px;
}
.mainMenu li:last-child a {
  padding-right: 25px;
  border-radius: 0 13px 13px 0;
  -webkit-border-radius: 0 13px 13px 0;
  -moz-border-radius: 0 13px 13px 0;
}
.mainMenu a {
  font-size: 14px;
  color: #000000;
  padding: 13px 16px 15px;
  background: #57c5b2;
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mainMenu a:hover {
  background: #ef3e36;
  color: #ffffff;
  text-decoration: none;
}
.mainMenu .active {
  background: #ef3e36;
  color: #ffffff;
  text-decoration: none;
}
.mainMenuIndex a {
  background: url("../images/back_1.png");
}
.call {
  float: right;
  text-align: right;
}
.phone {
  font-size: 18px;
  color: #151515;
}
.callBack {
  margin-top: 7px;
  position: relative;
}
.callBack > a {
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  padding: 5px 12px 7px;
  background: #f6cd4e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
}
.callBack > a span {
  border-bottom: 1px dotted #000000;
}
.callBack > a:hover {
  background: #ef3e36;
  color: #ffffff;
}
.popupCallBack {
  display: none;
  position: absolute;
  top: -2px;
  right: 0;
  width: 235px;
  box-sizing: border-box;
  padding: 15px 20px;
  background: #ffffff;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  font-size: 14px;
  text-align: left;
  z-index: 1000;
}
.popupCallBack input[type="text"] {
  padding: 7px 10px;
  box-sizing: border-box;
  border: 1px solid #e6e8e9;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  margin-bottom: 10px;
}
.popupCallBack label {
  color: #707070;
  display: block;
  margin-bottom: 10px;
}
.popupCallBack input[type="submit"],
.popupCallBack input[type="button"] {
  color: #000000;
  background: #f6cd4e;
  border: 1px solid #f6cd4e;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  padding: 5px 0;
  width: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.popupCallBack input[type="submit"]:hover,
.popupCallBack input[type="button"]:hover {
  background: #ef3e36;
  border: 1px solid #ef3e36;
}
.popupCallBack input[type="submit"] {
  margin-right: 15px;
}
.popupCallBack input[type="submit"].noActive {
  background: none;
  cursor: auto;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
}
.cloud {
  width: 100%;
  height: 99px;
  background: url("../images/cloud.png") no-repeat center 0;
  position: absolute;
  bottom: -35px;
  left: 0;
}
.listServices {
  font-size: 0;
  text-align: center;
  margin-top: 60px;
}
.listServices li {
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-left: 40px;
}
.listServices li:first-child {
  margin-left: 0;
}
.listServicesItem {
  max-width: 160px;
  text-align: center;
}
.listServicesItemText {
  color: #000000;
  font-size: 14px;
}
.listServicesItemText:hover {
  text-decoration: none;
}
.listServicesItemIcon {
  display: block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  background: url("../images/back_1.png");
  margin: 0 auto 30px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  text-align: center;
  font-size: 0;
}
.listServicesItemIcon img,
.listServicesItemIcon:after {
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.listServicesItemIcon:after {
  content: '';
  width: 1px;
  height: 100%;
}
.listServicesItemIcon img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.listServicesItemIcon:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.wrapMonitor {
  padding-top: 200px;
  position: relative;
}
.blockMonitor {
  width: 672px;
  height: 538px;
  position: relative !important;
}
.monitor {
  width: 672px;
  height: 538px;
  background: url("../images/monitor.png") no-repeat;
  margin: 0 auto;
  position: relative !important;
}
.sliderWrap {
  padding: 25px;
  position: relative;
}
.sliderWrap .bx-controls-direction {
  display: none;
}
.sliderWrap .bx-pager {
  width: 100%;
  position: absolute;
  bottom: 7px;
  left: 0;
  text-align: center;
  font-size: 0;
}
.sliderWrap .bx-pager .bx-pager-item {
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin-left: 5px;
}
.sliderWrap .bx-pager .bx-pager-item:first-child {
  margin-left: 0;
}
.sliderWrap .bx-pager .bx-pager-item a {
  font-size: 0;
  display: block;
  width: 9px;
  height: 9px;
  background: url("../images/nav_slide.png") no-repeat;
  background-position: 0 0;
}
.sliderWrap .bx-pager .bx-pager-item .active {
  background-position: 0 -9px;
}
.slide img {
  display: block;
  width: 100%;
}
.mainIndex {
  position: relative;
}
.parallax-layer-wrap {
  padding: 30px;
}
.wrapIconTypeOne {
  width: 60px;
  height: 60px;
}
.iconCPhotoshop {
  position: absolute;
  top: 70px;
  left: 110px;
  width: 30px;
  height: 30px;
  z-index: 100;
}
.iconCAjax {
  width: 40px;
  height: 14px;
  position: absolute;
  top: 70px;
  left: 270px;
  z-index: 100;
}
.iconCDropbox {
  width: 36px;
  height: 33px;
  position: absolute;
  top: 70px;
  left: 450px;
  z-index: 100;
}
.iconCMySql {
  width: 52px;
  height: 15px;
  position: absolute;
  top: 60px;
  left: 620px;
  z-index: 100;
}
.iconCVk {
  width: 31px;
  height: 31px;
  position: absolute;
  top: 70px;
  right: 180px;
  z-index: 100;
}
.iconCTrumble {
  width: 47px;
  height: 47px;
  position: absolute;
  top: 125px;
  right: 45px;
  z-index: 100;
}
.iconCHtml {
  width: 68px;
  height: 17px;
  position: absolute;
  top: 135px;
  right: 325px;
  z-index: 100;
}
.iconCGooglePlus {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 120px;
  left: 345px;
  z-index: 100;
}
.iconCCss {
  width: 58px;
  height: 25px;
  position: absolute;
  top: 145px;
  left: 175px;
  z-index: 100;
}
.iconCSkype {
  width: 43px;
  height: 43px;
  position: absolute;
  top: 140px;
  left: 30px;
  z-index: 100;
}
.iconCJs {
  width: 92px;
  height: 20px;
  position: absolute;
  top: 310px;
  left: 0;
  z-index: 100;
}
.iconCFacebook {
  width: 77px;
  height: 100px;
  position: absolute;
  top: 250px;
  left: 130px;
  z-index: 100;
}
.iconCTwitter {
  width: 64px;
  height: 84px;
  position: absolute;
  top: 190px;
  left: 400px;
  z-index: 100;
}
.iconCGmail {
  width: 50px;
  height: 61px;
  position: absolute;
  top: 220px;
  right: 250px;
  z-index: 100;
}
.iconCJquery {
  width: 92px;
  height: 27px;
  position: absolute;
  top: 300px;
  right: 20px;
  z-index: 100;
}
.iconCGoogle {
  width: 30px;
  height: 31px;
  position: absolute;
  top: 400px;
  right: 45px;
  z-index: 100;
}
.iconCPhp {
  width: 75px;
  height: 27px;
  position: absolute;
  top: 400px;
  left: 35px;
  z-index: 100;
}
.iconCChrome {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 535px;
  left: 285px;
  z-index: 100;
}
.iconCYoutube {
  width: 126px;
  height: 124px;
  position: absolute;
  top: 660px;
  left: 40px;
  z-index: 100;
}
.iconCloud {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.iconCloud:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.hintMonitor {
  width: 222px;
  height: 137px;
  position: absolute;
  top: 420px;
  right: 0;
  z-index: 101;
  background: url("../images/hint.png") no-repeat;
  box-sizing: border-box;
  padding: 20px 40px 0 20px;
}
.hintMonitorDate {
  color: #767676;
  font-size: 10px;
  margin-bottom: 10px;
}
.hintMonitorText {
  color: #000000;
  font-size: 14px;
}
.hintMonitorText a {
  color: #336699;
}
.hintMonitorText a:hover {
  text-decoration: none;
}
.plate {
  width: 108px;
  height: 219px;
  position: absolute;
  top: 660px;
  right: 30px;
  background: url("../images/plate.png") no-repeat;
  padding-top: 13px;
  box-sizing: border-box;
  text-align: center;
}
.footerIndex {
  height: 240px;
  background: url("../images/hands.png") no-repeat center 0;
  margin-top: 100px;
  box-sizing: border-box;
  padding: 180px 0 0;
  position: relative;
}
.socNetFooterIndex {
  width: 138px;
  height: 36px;
  background: url("../images/soc_net.png") no-repeat;
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 10;
}
.socNetFacebookFooterIndex {
  width: 139px;
  height: 36px;
  background: url("../images/soc_f.png") no-repeat;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}
.copyFooterIndex {
  font-size: 14px;
  text-align: center;
  position: relative;
}
.logoFooterIndex {
  width: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  z-index: 1;
  text-align: center;
  font-size: 0;
}
.logoFooterIndex a {
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 30px;
  height: 29px;
  background: url("../images/logo_zet.png") no-repeat;
}
.logoFooterIndexText {
  width: 0;
  overflow: hidden;
  position: absolute;
  bottom: 100%;
  left: 100%;
  font-size: 13px;
  color: #ffffff;
  text-align: left;
  line-height: 1em;
  white-space: nowrap;
}
.logoFooterIndexText span {
  background: #ed1c24;
  padding: 3px 5px;
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.logoFooterIndexText span:first-child {
  background: #ff2c34;
}
.breadCrumbs {
  margin: 35px 0 40px;
  font-size: 12px;
  color: #999999;
}
.breadCrumbs a,
.breadCrumbs span {
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.breadCrumbs span.arrowBreadCrumbs {
  font-size: 13px;
  margin: 0 3px;
}
.breadCrumbs a {
  color: #999999;
}
.breadCrumbs span.active {
  background: #eeede8;
  padding: 3px 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.content {
  width: 590px;
  float: left;
  padding-bottom: 50px;
}
.sidebarRight {
  width: 300px;
  float: right;
}
.blogItem {
  margin-top: 65px;
}
.blogItem:first-child {
  margin-top: 0;
}
.blogItemTitle {
  font-size: 24px;
}
.blogItemTitle a {
  color: #336699;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blogItemTitle a:hover {
  color: #ef3e36;
  text-decoration: none;
}
.blogItemTitleDetail {
  font-size: 36px;
  color: #231f20;
  line-height: 1em;
}
.blogItemData {
  color: #999999;
  font-size: 12px;
  margin: 10px 0 20px;
}
.blogItemData > div,
.blogItemData > a {
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.blogItemData a {
  color: #336699;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
.blogItemData a:hover {
  color: #ef3e36;
}
.blogItemTags {
  color: #336699;
}
.blogItemTags span {
  color: #999999;
}
.blogItemImage img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.blogItemContent {
  font-size: 14px;
  margin-top: 30px;
}
.blogItemContent p {
  margin-top: 20px;
}
.blogItemContent p:first-child {
  margin-top: 0;
}
.blogDetailItemContent {
  font-size: 15px;
}
.pagination {
  margin: 50px 0 0;
  font-size: 0;
}
.pagination a {
  padding: 7px 15px;
  border-top: 1px solid #e4e3dd;
  border-bottom: 1px solid #e4e3dd;
  border-right: 1px solid #e4e3dd;
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.pagination a:hover {
  background: #eeede8;
}
.pagination .first {
  border-left: 1px solid #e4e3dd;
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
}
.pagination .last {
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
}
.pagination .active {
  background: #eeede8;
}
.pagination a.next,
.pagination a.prev {
  border: none;
  background: none;
  padding: 7px 0;
}
.pagination a.next span,
.pagination a.prev span {
  color: #4e7aa7;
  text-decoration: underline;
}
.pagination a.next:hover span,
.pagination a.prev:hover span {
  color: #ef3e36;
}
.pagination .prev {
  margin-right: 15px;
}
.pagination .next {
  margin-left: 15px;
}
.grayBlock {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: #eeede8;
  padding: 35px;
  position: relative;
}
.shadowGrayBlock {
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 80%;
  height: 50%;
  margin-left: -40%;
  z-index: -1;
  box-shadow: 0 10px 50px rgba(35, 81, 86, 0.3);
}
.menuSidebarRight a {
  color: #336699;
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menuSidebarRight a:hover {
  text-decoration: none;
  color: #ef3e36;
}
.menuSidebarRight li {
  margin-top: 10px;
}
.menuSidebarRight li:first-child {
  margin-top: 0;
}
.popularRecordings {
  margin-top: 60px;
}
.popularRecordingsTitle {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}
.popularRecordingsList {
  padding-right: 20px;
}
.popularRecordingsList li {
  margin-top: 30px;
}
.popularRecordingsList li:first-child {
  margin-top: 0;
}
.popularRecordingsList a {
  color: #336699;
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.popularRecordingsList a:hover {
  text-decoration: none;
  color: #ef3e36;
}
.banners {
  margin-top: 45px;
}
.banners a {
  display: block;
  margin-top: 30px;
}
.banners a:first-child {
  margin-top: 0;
}
.footer {
  border-top: 1px solid #e4e3dd;
  padding: 40px 0 35px;
}
.footer:after {
  display: block;
  content: '';
  clear: both;
}
.copyFooter {
  width: 150px;
  font-size: 12px;
  color: #151515;
  float: left;
}
.socialNetworkFooter {
  margin: 0 100px;
  float: left;
}
.contactsFooter {
  float: left;
  width: 170px;
  text-align: center;
}
.contactsFooter span {
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  font-size: 18px;
  line-height: 1em;
}
.contactsFooter .contactsFooterKeyPhone {
  font-size: 12px;
  padding-top: 2px;
  margin-right: 10px;
}
.contactsFooter a {
  color: #336699;
  font-size: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  top: -5px;
}
.contactsFooter a:hover {
  color: #ef3e36;
  text-decoration: none;
}
.addressesFooter {
  width: 160px;
  float: right;
  font-size: 12px;
}
.addressesFooter a {
  color: #336699;
  font-size: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.addressesFooter a:hover {
  color: #ef3e36;
  text-decoration: none;
}
.socialNetworkDetail {
  margin: 30px 0 0;
}
.blogItemInteresting {
  border-top: 1px solid #e4e3dd;
  font-size: 0;
  margin-top: 30px;
}
.blogItemInterestingTitle {
  font-size: 24px;
  margin: 10px 0 20px;
}
.blogItemInterestingListItem {
  width: 28%;
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-left: 8%;
}
.blogItemInterestingListItem:first-child {
  margin-left: 0;
}
.blogItemInterestingListItemImage {
  margin-bottom: 15px;
}
.blogItemInterestingListItemImage img {
  width: 100%;
}
.blogItemInterestingListItemTitle {
  font-size: 15px;
  color: #336699;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blogItemInterestingListItemTitle:hover {
  text-decoration: none;
  color: #ef3e36;
}
.titlePage {
  width: 750px;
  font-size: 36px;
  margin: 20px 0 35px;
}
.contentNews {
  width: 740px;
  float: left;
  padding-bottom: 50px;
}
.newsWrap {
  width: 690px;
  float: left;
  margin-left: 45px;
}
.sidebarRightNews {
  width: 138px;
  float: right;
}
.news {
  margin-top: 40px;
}
.news:first-child {
  margin-top: 0;
}
.news:after {
  content: '';
  display: block;
  clear: both;
}
.newsDate {
  width: 90px;
  font-size: 12px;
  color: #767676;
  float: left;
  margin-top: 3px;
}
.newsContent {
  width: 575px;
  font-size: 18px;
  float: left;
}
.newsContent a {
  color: #336699;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.newsContent a:hover {
  color: #ef3e36;
  text-decoration: none;
}
.sortNews {
  padding-bottom: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  overflow: hidden;
  text-align: center;
  background: #eeede8;
}
.sortNewsTitle {
  font-size: 14px;
  padding: 20px 0 10px;
  border-bottom: 1px solid #ffffff;
}
.itemSortNews {
  margin-top: 20px;
}
.itemSortNews a {
  color: #000000;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.itemSortNews a:hover {
  color: #ef3e36;
  text-decoration: none;
}
.itemSortNews a.active {
  color: #ef3e36;
  text-decoration: none;
}
.newsDetailText p {
  margin-top: 20px;
}
.newsDetailText p:first-child {
  margin-top: 0;
}
